<%- include("partials/header") %>

<div id="carouselExampleControls" class="carousel item slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/4913487/pexels-photo-4913487.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="d-block w-100" alt="bakery">
      
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/209251/pexels-photo-209251.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="d-block w-100" alt="industry">
     
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/6508404/pexels-photo-6508404.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="d-block w-100" alt="agric">
     </div>

     <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1126557/pexels-photo-1126557.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="d-block w-100" alt="water">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container">
  <div class="about-us">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ullam eos ipsum enim sequi, iure animi! Tenetur quo, aut eaque, incidunt voluptate culpa provident voluptatum necessitatibus harum quod dolores maiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veniam, doloribus earum assumenda corporis, eius sequi neque, iusto fuga praesentium est veritatis ipsa aspernatur explicabo exercitationem quis dolore quos! Facere!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro recusandae quis non odio laborum, explicabo, asperiores iure similique accusantium expedita consequatur dolores veritatis ut provident placeat repellat totam? Odio, est.Lorem
    </p>
    <hr>
    <h3>
Our Services
    </h3>
    <ul>
      <li>
        <strong>Bakery</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum repudiandae, quod, itaque minima maxime fuga non inventore ad quo quos commodi rem quidem adipisci eum molestias laudantium, excepturi voluptates quisquam.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veniam officia, labore excepturi quae sunt dicta hic rem cumque qui sequi commodi amet totam dolorem reiciendis eum, ratione blanditiis vero?
        </p>
      </li>
      <li>
        <strong>Water production</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum repudiandae, quod, itaque minima maxime fuga non inventore ad quo quos commodi rem quidem adipisci eum molestias laudantium, excepturi voluptates quisquam.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veniam officia, labore excepturi quae sunt dicta hic rem cumque qui sequi commodi amet totam dolorem reiciendis eum, ratione blanditiis vero?
        </p>
      </li>
      <li>
        <strong>Agriculture</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum repudiandae, quod, itaque minima maxime fuga non inventore ad quo quos commodi rem quidem adipisci eum molestias laudantium, excepturi voluptates quisquam.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veniam officia, labore excepturi quae sunt dicta hic rem cumque qui sequi commodi amet totam dolorem reiciendis eum, ratione blanditiis vero?
        </p>
      </li>
    </ul>
    <hr>
    <h3>
      How we Help the Community
  <br>
    </h3>
    <p>
      <strong>Our training Programs have Impacted our community</strong>
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dicta corrupti nisi assumenda, delectus quos voluptas deserunt magni dolores saepe eveniet, quae eum accusamus? Dolorum impedit laboriosam inventore eos! Voluptas?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum distinctio adipisci, laudantium consequatur, est ducimus veritatis, unde voluptas mollitia minima dolore. Placeat consequatur quo, error voluptatum illum impedit odit neque!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque nulla optio, voluptatibus, perspiciatis modi inventore quo eaque odit distinctio, eveniet nisi facilis debitis officiis deleniti. Error tempora modi aperiam facere?
    </p>
  </div>
  <div class="container back">
    <a class="btn btn-sm btn-danger" href="/">Back</a>
</div>
</div>
<%- include("partials/footer") %>