<%- include("partials/header") %>
<div class="about">
  <h1 class="welcome">welcome to BubMaq-G Industries</h1>
  <p class="welcome-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsa eum sed illum qui pariatur nobis, delectus saepe. Eius delectus deserunt nesciunt itaque, sunt aperiam minus explicabo optio molestias reprehenderit?</p>
</div>
<div class="container">
<div class="sectors">
    <div class="row sec">
      <div class="col bakery">
        <h1> Bakery</h1>
      </div>
      <div class="col ">
        <h1> Our Bakery Sector</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi labore aperiam dolor, laborum unde porro quas velit, mollitia temporibus assumenda sapiente, quam repudiandae blanditiis quasi repellendus? Assumenda voluptas fuga at.</p>
      </div>
    </div>
    <div class="row sec">
      <div class="col">
        <h1>Agriculture</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam necessitatibus mollitia placeat error pariatur vitae, dolore suscipit facilis atque iure fugiat saepe at repellat reiciendis, quaerat sed officiis. Quasi, animi.</p>
      </div>
      
      <div class="col agriculture">
        <h1>Food</h1>
         </div>
    </div>
    <div class="row sec">
        <div class="col water">
          <h1>Water</h1>
           </div>
        
        <div class="col">
          <h1>Water production</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam necessitatibus mollitia placeat error pariatur vitae, dolore suscipit facilis atque iure fugiat saepe at repellat reiciendis, quaerat sed officiis. Quasi, animi.</p>
       
           </div>
      </div>
</div>
  </div>

<%- include("partials/footer") %>


